<%- include ("partials/header") %>

<div class="row">
    <div class="col-md-10 text-center">
      <p class="lead">NotePad</p>
    </div>
    <div class="col-md-12">
      <div class="thumbnail">
        <div class="caption-full">
          <h2><a><%=campground.name%></a></h2>
          <p><%= campground.description %></p>
        </div> 
      <p>
        <em>Submitted by: <%= campground.author.username %></em>
      </p>
      <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
      <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
        <button class="btn btn-danger">Delete</button>
      </form>   
      <% } %>
    </div>  
   
    </div>
</div>

  
<%- include ("partials/footer") %>